* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#eed;
    font-family: 'Futura', 'Gill Sans', 'Gill Sans MT', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.game-container {
}

#game-canvas {
    background: #ffffff;
}

.game-ui {
    text-align: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.player-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separator {
    margin: 0 20px;
}

.difficulty-debug {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    margin-top: 2px;
}

.instructions, .credits {
    font-size: 1rem;
}

#instructions {
    margin-bottom: 2rem;
    font-size: 1rem;
}

#credits {
    margin-top: 2rem;
    font-size: 1rem;
}

#instructions , #credits, 
#instructions a, #credits a {
    color: #666;
}
